<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioFileOffset</key>
	<dict>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>duration</key>
	<dict>
		<key>max</key>
		<integer>100000</integer>
		<key>min</key>
		<integer>1</integer>
	</dict>
	<key>envAttack</key>
	<dict>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>envAttackForm</key>
	<dict>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>envRelease</key>
	<dict>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>envReleaseForm</key>
	<dict>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>envSustain</key>
	<dict>
		<key>max</key>
		<integer>100000</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>gain</key>
	<dict>
		<key>max</key>
		<integer>1</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>intervall</key>
	<dict>
		<key>max</key>
		<integer>100000</integer>
		<key>min</key>
		<integer>1</integer>
	</dict>
	<key>pan</key>
	<dict>
		<key>max</key>
		<integer>1</integer>
		<key>min</key>
		<integer>-1</integer>
	</dict>
	<key>panAcceleration</key>
	<dict>
		<key>max</key>
		<integer>10000</integer>
		<key>min</key>
		<integer>-10000</integer>
	</dict>
	<key>panVelocity</key>
	<dict>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>-100</integer>
	</dict>
	<key>playbackSpeed</key>
	<dict>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
	</dict>
	<key>playbackSpeedAcceleration</key>
	<dict>
		<key>max</key>
		<integer>100000</integer>
		<key>min</key>
		<integer>-100000</integer>
	</dict>
	<key>playbackSpeedVelocity</key>
	<dict>
		<key>max</key>
		<integer>1000</integer>
		<key>min</key>
		<integer>-1000</integer>
	</dict>
</dict>
</plist>
